body {
    font-family: 'Ubuntu Mono' !important;
}

#top-banner {
    background-color: #8CE0DB;
    height: 80px;
    width: 100%;
}

#top-banner h1 {
    text-align: right;
    margin-right: 20px;
}

.project-div {
    background-color: #D9D9D9;
    border-radius: 20px;
    box-shadow: inset 0 0 5px black;
    padding: 20px;
    max-width: 500px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
    column-gap: 10px;
}

.github-link {
    float: right;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
}

.github-link img {
    max-width: 20px;
    max-height: 20px;
}

/* angled sections */

.odd-section {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%);
    background: linear-gradient(#FFFFFF 60%, #2DBE81);
    padding-bottom: 50px;
}

.even-section {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 50px));
    background: linear-gradient(#FFFFFF 60%, #8CE0DB);
    text-align: right;
    padding-bottom: 50px;
}