body {
    font-family: 'Ubuntu Mono';
}

#top-banner {
    background-color: #8CE0DB;
    height: 80px;
    width: 100%;
}

#top-banner h1 {
    text-align: right;
    margin-right: 20px;
}

.odd-section {
    height: 500px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background: linear-gradient(#FFFFFF 60%, #2DBE81);
}

.even-section {
    height: 500px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    background: linear-gradient(#FFFFFF 60%, #8CE0DB);
    text-align: right;
}